///////////
//NAV BAR//
///////////


@media only screen and (max-width: 768px){
    .navbar{
    background-color: $primary;
    
  }
}
  
@media only screen and (min-width: 768px){
    .navbar{
    background-color: $primary;
    height: 12%
  }
}

.nav-item{
  color:rgb(255, 255, 255) !important;
  font-family: $main-text;
  font-weight: bold;
  text-decoration: none;
  padding-right:45px;
  padding-left:45px;
  padding-top:7px;
  text-shadow: 2px 2px #ff0000;

  &:hover {
    color: rgb(243, 200, 200) !important;
    text-shadow: none;
  }

  .bi {
    -webkit-filter: drop-shadow( 3px 3px 2px rgb(255, 0, 0))!important;
      filter: drop-shadow( 3px 3px 2px #ff0000);
    }
      &:hover {
        filter: drop-shadow(none)
      }
}

.navbar-brand{
  font-family: caudex;
  font-size: 1.7em;
  color: white !important;

}

#logo{
    width: 95%;
    height: 95%;
}
