/* #frown {
  color: red;
}

#frown:checked {
  color: black;
  cursor: pointer;
}

#no-frown {
  color: black;
}

#no-frown:hover {
  cursor: pointer;
  color: red;
}

#smile:hover {
  color: green;
  cursor: pointer;
} */
