// Custom.scss
// Option A: Include all of Bootstrap

// @import "../node_modules/bootstrap/scss/bootstrap";

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: white;
  font-family: 'Rubik', sans-serif;
}

.naughty-true {
  cursor: pointer;
  color: red;
  padding-left: 5px;
  padding-right: 10px;

  &:hover {
    cursor: pointer;
    color: rgb(248, 114, 114);
  }
}

//  if naughty == false then this

.naughty-false {
  cursor: pointer;
  color: black;
  padding-left: 5px;
  padding-right: 10px;

  &:hover {
    cursor: pointer;
    color: darkgrey;
  }
}

// if nice == true then this

.nice-true {
  cursor: pointer;
  color: green;
  padding: 10px;

  &:hover {
    cursor: pointer;
    color: lightgreen;
  }
}

// if nice == false then this

.nice-false {
  cursor: pointer;
  color: black;
  padding: 10px;

  &:hover {
    cursor: pointer;
    color: darkgrey;
  }
}

//  Main page

.main-page {
  flex: 10;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

//  page titles

.page-banner {
  position: relative;
  align-items: center;
}

// .page-title {
//   align-content: center;
//   display: flex;
//   flex-direction: column;
//   height: 100%;
//   width: 100%;
//   font-family: 'Rubik', sans-serif;
//   color: red;
// }

// .nav-bar {
//   flex: 1;
//   display: flex;
//   justify-content: space-around;
//   align-items: center;
//   background: #EE5F28;

  // path {
  //   display: inline-block;
  //   font-size: inherit;
  //   height: 1em;
  //   overflow: visible;
  //   vertical-align: -.125em;
  //   border: 1px solid white;
  // }
// }

// .nav-button {
//   color: white;
//   padding: 50px;
//   font-size: 150%;
//   cursor: pointer;
// }
// .new{color: rgb(228, 114, 114)}

$primary: rgb(228, 114, 114);

$theme-colors: (
  "primary": $primary
);

.nav-item{
  text-decoration: none;
  padding-right:45px;
  padding-left:45px;

  &:hover {
    color: rgb(202, 240, 202) !important
  }
  
}

#logout-button {
  color: $primary;
  border: 1px solid $primary;
  &:hover {
    color: white !important;
    background: $primary
  }
}

.container {
  width: 85%;
  margin-bottom:10px !important;
  padding:10px;
  border-bottom: 1px solid black;
    img{
    margin:0 auto;
    height:auto !important;
    width:auto !important;
    max-height:70vh !important;
    }
    h3 {
      margin:0 auto;
      height:auto !important;
      width:auto !important;
      max-height:70vh !important;
    }
    p {
      margin:0 auto;
      height:auto !important;
      width:auto !important;
      max-height:70vh !important;
    }
}

