// @import url("../src/services/images/logo.png");
@import url('https://fonts.googleapis.com/css?family=Pirata+One|Bilbo+Swash+Caps&display=swap');

@import "_form";
@import "_homepage";
@import "_navbar";
@import "_paper-styling";
@import "_modal-content";



@font-face {
  font-family: Morris;
  src: url(https://cdn.statically.io/gh/EmmesCodes/Tipografias/dae9f5bb/MorrisInitials.ttf);
  }

$primary: rgb(165, 12, 12);
$main-text:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


///////////////
//PAGE BANNER//
///////////////
.page-banner {
  position: relative;
  align-items: center;
}

.page-title {
  font-family: caudex;
}



.logout-button-position{
  position:relative;
  top:5%;
  left:92%
}

#logout-button {
  
  box-shadow: 2px 3px 3px rgba(165, 12, 12, 0.205);
  color: $primary;
  background-color: rgba(255, 255, 255, 0.404);
  border: 1px solid $primary;
  &:hover {
    color: white !important;
    background: $primary
  }
}


